# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import json

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [25]:
path = os.path.join('../','WeatherPy/output_data/','cities.csv')
cities_df=pd.read_csv(path, index_col=False)
#cities_df.head()
#cities_df.count()

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

Create a heat map that displays the humidity for every city from Part I.

  ![heatmap](Images/heatmap.png)

In [3]:
#Configure gmaps.
gmaps.configure(api_key=gkey)
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lat", "lng"]]  #.astype(float)
# Create a  Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=cities_df['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

hotel_df=cities_df.loc[(cities_df['Max Temp']>70)&(cities_df['Max Temp']<80) & (cities_df['Wind Speed']<10) & (cities_df['Cloudiness']<10),:]
hotel_df

,City_Id,City,Cloudiness,Country,Date,Humidity,Lat,lng,Max Temp,Wind Speed
118,3932145,Pisco,0,PE,1611766938,73,-13.7000,-76.2167,73.40,6.91
161,1831112,Kampot,0,KH,1611767196,94,10.6167,104.1833,75.20,2.30
194,187585,Marsabit,3,KE,1611766931,49,2.3284,37.9899,72.10,9.19
280,3374210,São Filipe,0,CV,1611767238,62,14.8961,-24.4956,76.93,5.66
297,286621,Salalah,0,OM,1611767005,69,17.0151,54.0924,75.20,6.91
381,2167426,Emerald,0,AU,1611767278,73,-23.5333,148.1667,77.00,5.75
473,3430443,Necochea,0,AR,1611767073,46,-38.5473,-58.7368,73.00,5.99
549,1275804,Bhūm,5,IN,1611767340,29,18.4667,75.6667,75.70,7.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df.head()

<ipython-input-5-64598bec773a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City_Id,City,Cloudiness,Country,Date,Humidity,Lat,lng,Max Temp,Wind Speed,Hotel Name
118,3932145,Pisco,0,PE,1611766938,73,-13.7000,-76.2167,73.40,6.91,
161,1831112,Kampot,0,KH,1611767196,94,10.6167,104.1833,75.20,2.30,
194,187585,Marsabit,3,KE,1611766931,49,2.3284,37.9899,72.10,9.19,
280,3374210,São Filipe,0,CV,1611767238,62,14.8961,-24.4956,76.93,5.66,
297,286621,Salalah,0,OM,1611767005,69,17.0151,54.0924,75.20,6.91,

In [12]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# target_coordinates = ideal_df['Lat'], ideal_df['lng']
# target_search = ideal_df['City']
# target_radius = 5000
# #target_type = "hotel"
# set up a parameters dictionary

for index, row in hotel_df.iterrows():
  
    target_coordinates = (f'{row["Lat"]},{row["lng"]}')
    #target_search = row['City']
    target_radius = 5000
    target_type = "lodging"
    
    try:
        params = {
            "location": target_coordinates,
            #"keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": gkey
        }

        # base url
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        response=response.json()
        hotel_df.loc[index, "Hotel Name"]=response["results"][0]["name"]
      
    except:
        print(f'Issue with {index}')

C:\Users\cpoir\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [13]:
hotel_df

,City_Id,City,Cloudiness,Country,Date,Humidity,Lat,lng,Max Temp,Wind Speed,Hotel Name
118,3932145,Pisco,0,PE,1611766938,73,-13.7000,-76.2167,73.40,6.91,Hotel San Isidro Oficial
161,1831112,Kampot,0,KH,1611767196,94,10.6167,104.1833,75.20,2.30,Two Moons Hotel
194,187585,Marsabit,3,KE,1611766931,49,2.3284,37.9899,72.10,9.19,Chicho Hotel
280,3374210,São Filipe,0,CV,1611767238,62,14.8961,-24.4956,76.93,5.66,Tortuga B&B
297,286621,Salalah,0,OM,1611767005,69,17.0151,54.0924,75.20,6.91,HAMDAN PLAZA HOTEL SALALAH
381,2167426,Emerald,0,AU,1611767278,73,-23.5333,148.1667,77.00,5.75,The Irish Village
473,3430443,Necochea,0,AR,1611767073,46,-38.5473,-58.7368,73.00,5.99,dyd -mar Hotel
549,1275804,Bhūm,5,IN,1611767340,29,18.4667,75.6667,75.70,7.92,धनंजय होम

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "lng"]]

In [24]:
#Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.
# Add marker layer ontop of heat map

#markers=gmaps.marker_layer(locations)
#fig.add_layer(markers)    #these two lines work by themselves. Trying to add Hotel names below
#markers=gmaps.marker_layer(locations)


markers=gmaps.marker_layer(
    locations,
    #hover_text=hotel_info  # not working
    info_box_content=hotel_info
)

fig.add_layer(markers) 
fig

Figure(layout=FigureLayout(height='420px'))